@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#news-section {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.news-container {
    display:flex;
    align-content: center;
    flex-direction: row;
    margin: 16px;
    padding: 8px;
    border-radius: 15px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.125);
    /* border: 5px solid rgba(255, 255, 255, 0.474); */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /* font-family: Figtree, sans-serif; */
}

.text{
    width:100%;
}

.news-container>p {
    margin: 16px 16px;
}

.news-container>h2 {
    margin: 8px 16px;
    font-size: 30px;
    color: rgb(72, 72, 65);
    font-weight: 700;
}
.news-img-container{
    /* height:100%;
    width:100%;
    position: relative;
    right:10%;
    top:10%; */
}

.news-img-container>img{
    width:150px;
    height:150px;
    margin-right:50px;
}