
.packPlaceholder {
  display: block;
  height: 400px;
  background-color: #ccc;
  border-radius: 10px;
}

.pack-inner {
  position: relative;
  z-index: 3;
}

.cards {
  position: relative; 
}

.card{
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  margin: auto;
  width: 27%;
  height: 350px;
  /* background-color: aqua; */
  border: none;
  z-index: 2;
}
.card > img{
  margin-left: 3%;
  margin-top: 5%;
  width: 94%;
  height: 94%;
  border-radius: 5px;
}

.card::after,
.card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffe550;
    background-image: conic-gradient(from var(--angle), #fdffe3,#ffee00, #ffe550,#fffccc);
    animation: 3s spin linear infinite;

    perspective: 1000px;
    transform-style: preserve-3d;
}

.rare_2::before,
.rare_2::after {
  background-image: conic-gradient(from var(--angle),  #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

@media (max-width: 968px) {
  .packPlaceholder {
    height: 350px;
  }
  .pack_container_width {
    width: 100%;
  }
  .card{
    width: 200px;
  }
}

@media (max-width: 576px) {
  .packPlaceholder {
    height: 280px;
  }
  .pack_container_width {
    width: 100%;
    
  }
  .card{
     width: 200px;
  }
}

.pack-header {
    height: 100px;
    /*background-image: url('image/Pack-Header.png');*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    /* background-color: rgb(255, 230, 0); */
    z-index: 3;
}
.pack-body {
    /* height: calc(100% - 100px); */
    height: 400px;
    /* background-image: url('image/Pack-Header.png'); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    /* background-color: blue; */
    z-index: 3;
}

@keyframes fadeOutShrink {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
.hide-with-animation {
    animation: fadeOutShrink 0.5s forwards;
}
@keyframes fadeout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        transform: translateY(200px);
        opacity: 0;
    }
}
.fadeout {
  animation: fadeout 0.5s forwards;
}
@keyframes tearTop {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }
    30% {
        transform: translate(-10px, -10px) rotate(-5deg);
        opacity: 0.9;
    }
    60% {
        transform: translate(-30px, -30px) rotate(-15deg);
        opacity: 0.6;
    }
    100% {
        transform: translate(-100px, -100px) rotate(-25deg);
        opacity: 0;
    }
}
.tear-top {
    animation: tearTop 0.8s ease-in forwards;
}

.pack-chosen >.pack-inner .pack-header {
  height: 75px !important;
}

.pack-inner {
  position: relative;
}

/* NEXT CARD ANIMATION */
@keyframes flyUpAndFade {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px) rotate(0deg);
    opacity: 0;
  }
}

.fly-up {
  animation: flyUpAndFade 0.8s ease forwards;
}
