/* DELETE */
body {
  /* background-image: url('https://w.wallhaven.cc/full/nk/wallhaven-nkmrz7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0; */
  color: white;
}

html, body {
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

#mobileMenu li{
  background-color: black;
}

.toolbar{
  position: relative;
  z-index: 10;
  /* box-shadow: 0 0 20px rgb(0, 0, 0); */
}
.modal-backdrop {
  z-index: 1 !important;
}

.modal {
  z-index: 1051 !important;
}

/* DELETE */
/* .toolbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toolbar ul li {
  transition: transform 0.2s ease;
} */


/* .toolbar > .container .text-center{
    margin-top: -150px;
} */

@font-face {
    font-family: 'webfont';
    src: url('../src/webFont.ttf') format('truetype');
}
.toolbar a {
    font-family: 'webfont', sans-serif;
    color: rgb(255, 255, 255);
    /* transform: rotate(-15deg); */
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
    font-size: 23px;
    text-decoration: none;
    display: inline-block; 
    z-index: 10;
    transition: transform 0.5s ease, color 0.3s ease;

    margin-top: 80px;
    margin-bottom: 50px;
    /* background-color: rgb(120, 190, 255);; */
    
    /* transform: translate(0px, 30px); */
    
}

.toolbar .row > div:nth-child(1) a {
    font-size: 170px;
}
/* .toolbar .row > div:nth-child(1) a::first-letter {
    color: rgb(58, 255, 68);
} */
.toolbar .row > div:not(:first-child) a {
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    transition: font-size 0.2s ease, color 0.3s ease;
}

.toolbar .row > div:not(:first-child) a:hover {
    font-size: 30px;
    transform: scale(1.1);
}

.toolbar .row > div a i {
  color: rgb(117, 177, 255);
  font-size: 50px;
  text-shadow: none;
}
.profile {
  /* transform: translate(0px, 20px); */
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
}
/* .profile button{
  font-family: 'webfont', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
} */

.coinsUI {
  position: absolute;
  margin-left: 30px;
  margin-top: 80px;
  background-color: rgb(41, 41, 41);
}

@media (max-width: 1200px) {
  .coinsUI {
    margin-top: 50px;
    margin-left: 0;
  }
  .toolbar{
    height: 300px;
  }
  .toolbar a{
    margin: 0;
  }
}

/* FORM STYLE */
.modal-content{
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../src/form.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.mainForm h1{
  font-family: 'webfont', sans-serif;
  color: rgb(255, 255, 255)
}
.modal-header,
.modal-footer {
  border: none !important;
  position: relative;
}


.btn-close {
  position: absolute;
  top: 15px;
  left: 75%;
  /* filter: invert(18%) sepia(98%) saturate(7489%) hue-rotate(1deg) brightness(96%) contrast(122%); */
}

.info_list {
  height: 251px;
}
.info_list p {
  font-family: 'webfont', sans-serif;
  font-size: 30px;
  margin: 0;
}
.icon {
  font-size: 150px;
  color: rgb(117, 177, 255);
  z-index: 1;
}
.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

footer {
  background-image: url('../src/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.footer-inner {
  padding-top: 80px; /* זה מוריד את התוכן כלפי מטה */
}